
    <main class="holder">
  
        <!-- <h2>Cursos disponibles</h2> -->

        <p class="p-frase-bienvenida">En esta sección te ofrecemos numerosos cursos gratuitos para poder aprender programación. No te desanimes si no tienes ningún conocimiento o si te resulta difícil. Aquí encontraras contenidos didácticos e interactivos, tanto teóricos como prácticos, que te ayudaran a comenzar a recorrer el maravilloso mundo de la programación. No necesitas ser una mente maestra, solo con tener muchas ganas, curiosidad y perseverancia tendrás a tu alcance los conocimientos necesarios para realizar páginas web, aplicaciones móviles y mucho más. </p>

        <div class="contenedor-guia-cursos " id="guia">
            <ul class="tabs ul-guia-cursos">

                <li class="li-guia-cursos active">Fundamentos</li>
                <li class="li-guia-cursos">Inglés</li>
                <li class="li-guia-cursos">Javascript</li>
                <li class="li-guia-cursos">Node JS</li>
                <li class="li-guia-cursos">React JS</li>

            </ul>
        </div>



        <div class="contenedor-cursos">

            <div class="contenedor-curso active">
                <h2>Fundamentos de la programación</h2>
                <p class="subtiulo-p">Los fundamentos de programación son las bases comunes a todos los programas. Es lo primero que tendrás que aprender incluso antes de elegir el programa con el que quieres programar.
                </p>

                <div class="contenedor-tarjetas" >
                    <div class="tarjeta-curso" >
                        <img src="images/cursos/teoria-fundamentos.png" alt="Apuntes" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Apuntes I</h3>
                            <p class="tarjeta__p">Material de lectura: Algoritmos, Conceptos de Organización de Computadoras, Matemática, entre otros temas.</p>
                            <a href="http://weblidi.info.unlp.edu.ar/catedras/ingreso/index.html?fbclid=IwAR0ausIFnYv4ml39Hfb5MBAeurikth4KfpMFgoOM3JDIXddwcZ-aVMi8fgI" class="boton btn-curso" target="_blank">Comienza a leer</a>
                        </div>

                    </div>

                    <div class="tarjeta-curso"> 
                        <img src="images/cursos/teoria-fundamentos2.png" alt="Apuntes: licenciatura informatica" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Apuntes II </h3>
                            <p class="tarjeta__p">Material de estudio de la carrera de licenciatura en informatica del centro de apuntes CEFI
                            </p>
                            <a href="http://apuntes.lafuenteunlp.com.ar/files.php?path=%2F" class="boton btn-curso" target="_blank">Comienza a leer</a>
                        </div>
                        
                    </div>


                    <div class="tarjeta-curso">
                        <img src="images/cursos/mumuki-fundamentos-practica.png" alt="Mumuki" class="tarjeta-img">
                        <div class="tarjeta-texto" >
                            <h3 class="tarjeta__titulo">¡Aprende jugando!</h3>
                            <p class="tarjeta__p">Mumuki es una plataforma que propone una manera única e innovadora de enseñar a programar.   
                            </p>
                            <a href="https://mumuki.io/paths" class="boton btn-curso" target="_blank">Comienza a Jugar</a>

                        </div>
                    </div>


                    <div class="tarjeta-curso"> 
                        <img src="images/cursos/todo-code-fundamentos.png" alt="Todo code" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">TODO CODE</h3>
                            <p class="tarjeta__p">Un canal de youtube para aprender programación e informática 🖥️ de manera fácil, sencilla y por sobre todo GRATUITA!
                            </p>
                            <a href="https://www.youtube.com/playlist?list=PLQxX2eiEaqbzRVxjkstjLmmn9enb0x3zi" class="boton btn-curso" target="_blank">Comienza este curso</a>
                        </div>
                        
                    </div>


                </div>


            </div>

            <div class="contenedor-curso">
                <h2>Inglés</h2>
                <p class="subtiulo-p">Tener conocimientos del idioma inglés ayuda notablemente a ser un/a gran programador/a. Prueba con estos cursos y complementalo con peliculas o series en inglés para ir asimilandolo.
                </p>

                <div class="contenedor-tarjetas" >
                    <div class="tarjeta-curso" >
                        <img src="images/cursos/duolingo-ingles.jpg" alt="Duolingo" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Duolingo</h3>
                            <p class="tarjeta__p">Plataforma para incrementar vocabulario, mejorar pronunciación y practicar comprensión auditiva con pequeñas frases.</p>
                            <a href="https://es.duolingo.com/" class="boton btn-curso" target="_blank">Comienza este curso</a>
                        </div>
                    </div>



                    <div class="tarjeta-curso" id="ingles">
                        <img src="images/cursos/curso-ingles.png" alt="Curso inglés gratis" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Curso-Inglés</h3>
                            <p class="tarjeta__p"> Una plataforma donde podrá aprender y practicar el idioma inglés de una forma fácil y divertida.</p>
                            <a href="https://www.curso-ingles.com/" class="boton btn-curso" target="_blank">Comienza este curso</a>
                        </div>
                    </div>

                    <div class="tarjeta-curso" id="ingles">
                        <img src="images/cursos/curso-youtube-ingles.png" alt="Curso inglés en youtube" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Pacho8a</h3>
                            <p class="tarjeta__p">Con casi 120 videos, este es un curso de ingles desde cero que te ayudara a aprender inglés de manera sencilla.</p>
                            <a href="https://www.youtube.com/playlist?list=PLgrNDDl9MxYmUmf19zPiljdg8FKIRmP78" class="boton btn-curso" target="_blank">Mira el video</a>
                        </div>

                    </div>


                </div>


            </div>

            <div class="contenedor-curso" >
                <h2>Javascript</h2>
                <p class="subtiulo-p">
                Antes de aprender JavaScript, te aconsejamos que aprendas los fundamentos de HTML y CSS. Mientras HTML y CSS controlan el contenido y el estilo de una página web, JavaScript se utiliza para hacerlo interactivo. <br>         
    
                </p>

                <div class="contenedor-tarjetas">

                    <div class="tarjeta-curso" >
                        <img src="images/cursos/apunte-html-js.png" alt="Apuntes HTML ManzDev" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">HTML - APUNTES</h3>
                            <p class="tarjeta__p">LenguajeHTML es un sitio web donde encontrarás información sobre HTML.</p>
                            <a href="https://lenguajehtml.com/" class="boton" target="_blank">Comienza a leer</a>
                        </div>
                    </div>



                    <div class="tarjeta-curso" >
                        <img src="images/cursos/videos-html.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">HTML - AlexCG</h3>
                            <p class="tarjeta__p">Jordan Alexander, web developer frontend, te ayudará a aprender diseño web con HTML5.</p>
                            <a href="https://www.youtube.com/playlist?list=PLP7LlHfxfuM_GytQDzmzbTnpaFXIZOQ9D" class="boton" target="_blank">Comienza este curso</a>
                        </div>
                    </div>


                    <div class="tarjeta-curso">
                        <img src="images/cursos/apunte-css-js.png" alt="Apuntes CSS ManzDev" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">CSS - APUNTES</h3>
                            <p class="tarjeta__p">LenguajeJS es un sitio web donde encontrarás información sobre CSS.</p>
                            <a href="https://lenguajecss.com/css/" class="boton" target="_blank">Comienza a leer</a>
                        </div>
                    </div>


                    <div class="tarjeta-curso">
                        <img src="images/cursos/video-css.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">CSS - AlexCG</h3>
                            <p class="tarjeta__p">Jordan Alexander, web developer frontend, te ayudará a aprender diseño web con CSS3.</p>
                            <a href="https://www.youtube.com/playlist?list=PLP7LlHfxfuM8pAs_N7JOEvBIcpgTDiHud" class="boton" target="_blank">Comienza este curso</a>
                        </div>
                    </div>


                    <div class="tarjeta-curso">
                        <img src="images/cursos/apunte-js-js.png" alt="Apuntes JS ManzDev" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">JS - APUNTES</h3>
                            <p class="tarjeta__p">LenguajeJS es un sitio web donde encontrarás información JavaScript.</p>
                            <a href="https://lenguajejs.com/" class="boton" target="_blank">Comienza a leer</a>
                        </div>
                    </div>

                    <div class="tarjeta-curso">
                        <img src="images/cursos/soyDalto.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Soy Dalto</h3>
                            <p class="tarjeta__p">Más de 50 horas de contenido donde podrás aprender HTML, CSS, JS desde cero.</p>
                            <a href="https://www.youtube.com/playlist?list=PLE8uP447fYpgOwKgbypiCGSz7veY2MLGb" class="boton" target="_blank">Comienza ahora</a>
                        </div>
                    </div>

                    <div class="tarjeta-curso">
                        <img src="images/cursos/freecodecamp.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">FreeCodeCamp</h3>
                            <p class="tarjeta__p">Plataforma gratuita con miles de horas de contenido interactivo y accesible para todo el mundo.   </p>
                            <a href="https://www.freecodecamp.org/espanol/learn/" class="boton" target="_blank">Comienza este curso</a>
                        </div>
                    </div>

                    <div class="tarjeta-curso">
                        <img src="images/cursos/curso-js-completo-js.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Argentina Programa</h3>
                            <p class="tarjeta__p">Curso super completo de Javascript que incluye HTML,CSS, Git/GitHub, Bootstrap, jQuery y mucho más.   </p>
                            <a href="https://argentinaprograma.com/curso-javascript" class="boton" target="_blank">Comienza este curso</a>
                        </div>
                    </div>
                    

                </div>


            </div>

            <div class="contenedor-curso" >
                <h2>Node JS</h2>
                <p class="subtiulo-p">Node.js es un entorno JavaScript de lado de servidor que utiliza un modelo asíncrono y dirigido por eventos. Uno de los puntos fuertes de Node.js es su capacidad de mantener muchas conexiones abiertas y esperando.
                </p>

                <div class="contenedor-tarjetas">
                    <div class="tarjeta-curso" >
                        <img src="images/cursos/apuntes-node.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">APUNTES</h3>
                            <p class="tarjeta__p">Todos los apuntes que necesitas para poder instalar NODE JS y sacarle el mayor provecho.</p>
                            <a href="https://apuntes.de/nodejs/#gsc.tab=0" class="boton" target="_blank">Comienza a leer</a>
                        </div>
                    </div>

                    <div class="tarjeta-curso" >
                        <img src="images/cursos/curso-node-video.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Node con FAZT</h3>
                            <p class="tarjeta__p">Introducción practica para Desarrolladores Web, que tiene como objetivo crear aplicaciones Backend, utilizando Javascript.</p>
                            <a href="https://www.youtube.com/watch?v=BhvLIzVL8_o" class="boton" target="_blank">Comienza este curso</a>
                        </div>
                    </div>


                    <div class="tarjeta-curso" >
                        <img src="images/cursos/curso-node-freecodecamp.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Node y Express</h3>
                            <p class="tarjeta__p">Curso super completo de 8 horas organizado por FreeCodeCamp. Está en inglés pero se le puede agregar subtitulos en castellano.</p>
                            <a href="https://www.youtube.com/watch?v=Oe421EPjeBE" class="boton" target="_blank">Comienza este curso</a>
                        </div>
                    </div>




                </div>


            </div>

            <div class="contenedor-curso" >
                <h2>React JS</h2>
                <p class="subtiulo-p">React es un framework de Javascript para crear interfaces de usuario. Antes de aprender react, se recomienda tener una base de Javascript.
                </p>

                <div class="contenedor-tarjetas">


                    <div class="tarjeta-curso" >
                        <img src="images/cursos/curso-react-js.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Argentina Programa</h3>
                            <p class="tarjeta__p">Curso gratuito organizado por el Ministerio de Desarrollo Productivo de Argentina sobre React y redux.</p>
                            <a href="https://argentinaprograma.com/clases-react" class="boton" target="_blank">Comienza este curso</a>
                        </div>
                    </div>


                    <div class="tarjeta-curso" >
                        <img src="images/cursos/pagina-oficial-react-js.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">APUNTES</h3>
                            <p class="tarjeta__p">La página oficial de react ofrece tutoriales muy bien explicados, tanto en inglés como en español.</p>
                            <a href="https://es.reactjs.org/" class="boton" target="_blank">Comienza a estudiar</a>
                        </div>
                    </div>


                    <div class="tarjeta-curso" >
                        <img src="images/cursos/scrimba-react.png" alt="" class="tarjeta-img">
                        <div class="tarjeta-texto">
                            <h3 class="tarjeta__titulo">Scrimba</h3>
                            <p class="tarjeta__p">Novedosa plataforma interactiva donde podés aprender React practicando código sobre el video de la clase.</p>
                            <a href="https://scrimba.com/learn/learnreact" class="boton" target="_blank">Comienza este curso</a>
                        </div>
                    </div>

                </div>


            </div>



        </div>

        <a href="#guia" class="scroll-up"> <span class="fa fa-chevron-up"> Volver arriba </span> </a>





    </main>