    <main>
  
        <div class="imagenDestacada">

            <div class="texto-imagen">
                <h2>¿Querés estudiar Programación gratis?</h2>
                <h3>Te ayudamos</h3>

                <a href="#guia" class="boton btn__index">¿Por donde empiezo?</a>

            </div>

            <div class="onda-main"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;fill: #ffffff;"></path></svg></div>


        </div>
        

        <div class="contenedor-ruta holder" id="guia">

          
            <img class="img-ruta" src="images/ruta2.png" alt="">

            <a href="cursos" class="boton btn__index__ruta">Cursos</a>
            <a href="novedades" class="boton btn__index__ruta">Capacitaciones</a>

        </div>
     
        <a href="#" class="scroll-up">
            <span class="fa fa-chevron-up"> Volver arriba </span>           
        </a>





    </main>